.wrapper {
  height: 32px;
  margin-top: 8px;
}

.item {
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 930px;
    height: 24px;
    margin: 0 auto;
  }

  .list {
    margin: -4px -16px;
  }
}
