@import 'src/styles/colors';

.wrapper {
  display: grid;
  grid-gap: 16px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid $dividers;
}

.titleWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 24px;
  align-items: center;
}

.icon {
  width: 16px;
  height: 16px;
  fill: $disabled;
}
