@import 'src/styles/colors';

.fixedWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  background: $monoWhite;
}

.price {
  font-size: 20px;
  line-height: 28px;
}

.wrapper {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.heart {
  width: 32px;
  height: 32px;
  fill: $disabled;
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: auto auto;
    justify-content: start;
  }
}
