@import 'src/styles/colors';

.wrapper {
  display: grid;
  grid-gap: 16px;
  margin-bottom: 16px;
  padding: 16px 0;
  border-bottom: 1px solid $dividers;
}

@media (min-width: 1024px) {
  .wrapper {
    border-bottom: none;
  }
}
