.wrapper {
  padding-bottom: 64px;
}

@media (min-width: 1024px) {
  .wrapper {
    display: grid;
    grid-gap: 54px 30px;
    grid-template-areas: 'b b' 'i p';
  }

  .bread {
    grid-area: b;
  }

  .image {
    grid-area: i;
  }

  .params {
    grid-area: p;
  }
}
