@import 'src/styles/colors';

.wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  background: $monoWhite;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.08);
}

.tabBarExpansion {
  grid-column: 1 / 5;
}

.icon {
  width: 26px;
  height: 26px;
  fill: $disabled;
}

.item {
  display: grid;
  justify-items: center;
  padding: 8px 0;

  &:active {
    .text {
      color: $default;
    }

    .icon {
      fill: $default;
    }
  }
}

.itemSelected {
  .text {
    color: $default;
  }

  .icon {
    fill: $default;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    display: none;
  }
}
