@import 'src/styles/colors';

.back {
  display: block;
  margin-bottom: 16px;
  padding-top: 16px;
}

.title {
  margin-bottom: 32px;
}

.submit {
  margin-bottom: 16px;
}

.comment {
  color: $disabled;
  text-align: center;
}
