@import 'src/styles/colors';

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

.content {
  position: relative;
  display: flex;
}

.map {
  height: 100%;
}

.simpleHeader {
  display: none;
}

@media (min-width: 1024px) {
  .wrapper {
    overflow: hidden;
  }

  .content {
    padding-left: 420px;
  }

  .simpleHeader {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px 48px;
    border-bottom: 1px solid $dividers;
  }

  .logo {
    width: auto;
    height: 20px;
  }

  .back {
    width: fit-content;
  }
}
