@import 'src/styles/colors';

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-rows: auto 1fr;

  :global([class*='clusterSmallIcon']) {
    top: -19px !important;
    left: -19px !important;
    width: 34px !important;
    height: 34px !important;
    background: $monoWhite;
    border: 2px solid $hover;
    border-radius: 50%;

    :global([class$='svg-icon-content']) {
      top: 9px !important;
      width: 34px !important;
      height: 16px !important;
      font-weight: bold !important;
      font-size: 16px !important;
      font-family: Inter, sans-serif !important;
      line-height: 16px !important;
      font-feature-settings: 'tnum' on, 'lnum' on;
    }
  }

  :global([class*='clusterMediumIcon']) {
    top: -22px !important;
    left: -22px !important;
    width: 40px !important;
    height: 40px !important;
    background: $monoWhite;
    border: 2px solid $hover;
    border-radius: 50%;

    :global([class$='svg-icon-content']) {
      top: 12px !important;
      width: 40px !important;
      height: 16px !important;
      font-weight: bold !important;
      font-size: 16px !important;
      font-family: Inter, sans-serif !important;
      line-height: 16px !important;
      font-feature-settings: 'tnum' on, 'lnum' on;
    }
  }

  :global([class*='clusterLargeIcon']) {
    top: -27px !important;
    left: -27px !important;
    width: 48px !important;
    height: 48px !important;
    background: $monoWhite;
    border: 3px solid $hover;
    border-radius: 50%;

    :global([class$='svg-icon-content']) {
      top: 15px !important;
      width: 48px !important;
      height: 18px !important;
      font-weight: bold !important;
      font-size: 18px !important;
      font-family: Inter, sans-serif !important;
      line-height: 18px !important;
      font-feature-settings: 'tnum' on, 'lnum' on;
    }
  }

  :global([class$='image-with-content']) {
    top: -34px !important;
    display: flex;
    align-items: center;
    box-sizing: border-box !important;
    width: auto !important;
    height: 30px !important;
    padding: 0 8px 0 22px;
    background-color: $monoWhite;
    background-repeat: no-repeat;
    background-position: 8px 50% !important;
    background-size: 12px !important;
    border: 2px solid $hover;
    border-radius: 15px;
    transform: translateX(-50%);
    transition: background-color 0.3s;

    &::after {
      position: absolute;
      right: 0;
      bottom: -6px;
      left: 0;
      width: 7px;
      height: 4px;
      margin: auto;
      background: url('./assets/arrow.svg') no-repeat 50% 0;
      content: '';
    }

    :global([class$='image-with-content-content']) {
      position: static !important;
      width: auto !important;
      height: 16px !important;
      color: $title;
      font-weight: 600 !important;
      font-size: 16px !important;
      font-family: Inter, sans-serif !important;
      line-height: 16px !important;
      font-feature-settings: 'tnum' on, 'lnum' on;
      transition: color 0.3s;
    }
  }

  //:global([style^='z-index: 700']) {
  //  :global([class$='image-with-content']) {
  //    background-color: $hover;
  //
  //    &::before {
  //      content: none;
  //    }
  //
  //    &::after {
  //      content: '';
  //    }
  //
  //    :global([class$='image-with-content-content']) {
  //      color: $monoWhite;
  //    }
  //  }
  //}
}

.content {
  position: relative;
  display: flex;
}

.map {
  height: 100%;
}

.simpleHeader {
  display: none;
}

@media (min-width: 1024px) {
  .wrapper {
    overflow: hidden;
  }

  .content {
    padding-left: 420px;
  }

  .simpleHeader {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px 48px;
    border-bottom: 1px solid $dividers;
  }

  .logo {
    width: auto;
    height: 20px;
  }

  .back {
    width: fit-content;
  }
}
