@import 'src/styles/colors';

.wrapper {
  display: block;
  padding: 6px 16px;
}

.text {
  color: $title;
  white-space: nowrap;
}

.tile {
  margin-right: 8px;
  margin-bottom: 8px;
  background: $selected;
  border-radius: 10px;
}
