.wrapper {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  margin-bottom: 4px;
  padding: 50% 0;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.label {
  display: -webkit-box;
  overflow: hidden;
  text-align: center;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
