@import 'src/styles/colors';

.header {
  display: grid;
  grid-gap: 16px 0;
  grid-template-columns: 24px 1fr 24px;
  align-items: center;
  justify-items: center;
  margin: 0 15px;
  padding-top: 16px;
  background: $monoWhite;
  transition: box-shadow 0.3s;
}

.headerShadowed {
  composes: header;
}

.button {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
  fill: $disabled;
}

.logo {
  display: flex;
  width: auto;
  height: 16px;
}

.search {
  grid-column: 1 / 4;
  order: 1;
  width: 100%;
}

.simpleHeader {
  display: flex;
  justify-content: center;
  padding: 16px 0 8px;
}

@media (min-width: 1024px) {
  .header {
    position: sticky;
    top: -1px;
    z-index: 3;
    grid-auto-flow: column;
    grid-gap: 16px;
    grid-template-columns: auto auto 1fr auto;
    margin: 0;
    padding: 16px calc(50% - 465px);
    transition: box-shadow 0.3s, transform 0.15s 0.15s;
  }

  .headerHidden {
    transform: translateY(-100%);
    transition: box-shadow 0.3s, transform 0.15s;
  }

  .headerShadowed {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  }

  .headerExpansion {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    background: $monoWhite;
    transform: translateY(-100%);
    transition: box-shadow 0.3s, transform 0.15s;
  }

  .headerExpansionShown {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    transform: translateY(0);
    transition: box-shadow 0.3s, transform 0.15s 0.15s;
  }

  .button {
    display: flex;
  }

  .logo {
    height: 20px;
  }

  .bellBadge {
    display: none;
  }

  .search {
    grid-column: 3;
  }

  .simpleHeader {
    padding: 26px 0;
  }
}
