@import 'src/styles/colors';

.header {
  display: grid;
  grid-gap: 16px 0;
  grid-template-columns: 24px 1fr 24px;
  align-items: center;
  justify-items: center;
  margin: 0 15px;
  padding-top: 16px;
  background: $monoWhite;
}

.button {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
  fill: $disabled;
}

.logo {
  display: flex;
  width: auto;
  height: 16px;
}

.search {
  grid-column: 1 / 4;
  order: 1;
  width: 100%;
}

.simpleHeader {
  display: flex;
  justify-content: center;
  padding: 16px 0 8px;
}

@media (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 3;
    grid-auto-flow: column;
    grid-gap: 16px;
    grid-template-columns: auto auto 1fr auto;
    margin: 0;
    padding: 16px calc(50% - 465px);
  }

  .button {
    display: flex;
  }

  .logo {
    height: 20px;
  }

  .bellBadge {
    display: none;
  }

  .search {
    grid-column: 3;
  }

  .simpleHeader {
    padding: 26px 0;
  }
}
