@import 'src/styles/colors';

.wrapper {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  justify-items: center;
  margin: 0 15px;
  padding: 16px 0 8px;
  background: $monoWhite;
}

.icon {
  width: 24px;
  height: 24px;
  fill: $disabled;
}
