@import 'src/styles/colors';

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  margin-left: 12px;
  fill: $secondary;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: $background;
  }

  &:active,
  &.selected {
    background: $selected;

    .text {
      color: $default;
    }

    .icon {
      fill: $default;
    }
  }
}

.normalWrapper {
  composes: wrapper;
  height: 32px;
}

.largeWrapper {
  composes: wrapper;
  height: 40px;
}

.disabled {
  .text {
    color: $disabled;
  }

  .icon {
    fill: $disabled;
  }
}
