@import 'src/styles/colors';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: $background;
  }

  &:active,
  &.selected {
    background: $selected;

    .text {
      color: $default;
    }
  }
}

.icon {
  margin-left: 12px;
}

.normalWrapper {
  composes: wrapper;
  height: 32px;
}

.largeWrapper {
  composes: wrapper;
  height: 40px;
}
