.wrapper {
  margin-bottom: 24px;
}

.filters {
  display: none;
}

.title {
  margin-bottom: 4px;
}

.count {
  margin-bottom: 16px;
}

.tabs {
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  .productsWrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 130px 1fr;
  }

  .tabs {
    display: none;
  }

  .filters {
    display: flex;
  }

  .breadcrumbs {
    margin: 20px 0;
  }
}
