@import 'src/styles/colors';

.wrapper {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: $disabled;
}

.pcIcon {
  composes: icon;
  display: none;
}

@media (min-width: 1024px) {
  .wrapper {
    grid-gap: 32px;
    padding-left: 16px;
  }

  .icon {
    fill: $primary;
  }

  .pcIcon {
    display: flex;
  }
}
