.wrapper {
  margin-bottom: 24px;
}

.search {
  margin-bottom: 16px;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px 10px;
}

.title {
  margin-bottom: 4px;
}

.count {
  margin-bottom: 16px;
}
