@import 'src/styles/colors';

.wrapper {
  padding: 6px 8px;
  cursor: pointer;
}

.container {
  position: relative;
  height: 4px;
  background: $dividers;
}

.range {
  position: absolute;
  height: 100%;
  background: $selected;
}
