@import 'src/styles/colors';

.wrapper {
  position: absolute;
  right: 0;
  bottom: 12px;
  left: 0;
  z-index: 1;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 6px;
  justify-content: center;
}

.other {
  left: 30px;
  width: 16px;
  height: 3px;
  background: $monoWhite;
  border-radius: 2px;
  opacity: 0.3;
  transition: opacity 0.3s, width 0.3s;
}

.current {
  composes: other;
  width: 24px;
  opacity: 1;
}

@media (min-width: 1024px) {
  .wrapper {
    bottom: 22px;
  }

  .other {
    cursor: pointer;
  }
}
