@import 'src/styles/colors';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  background: $monoWhite;
}

.price {
  font-size: 20px;
  line-height: 28px;
}
