$monoWhite: #ffffff;
$tableHeader: #f9f9f9;
$background: #f3f4f6;
$dividers: #e8eaed;
$border: #d0d3dc;
$disabled: #b9bdca;
$secondary: #4f5569;
$primary: #3b3f4e;
$title: #2c2f3a;

$selected: #def7ec;
$default: #0e9f6e;
$hover: #31c48d;
$active: #057a55;

$default100: #f4f4f4;
$default300: #d6d6d6;
$default500: #4e5468;

$processing100: #bdd2ff;
$processing300: #79a3ff;
$processing500: #1890ff;

$success100: #bfeec6;
$success300: #91e79f;
$success500: #3dcc56;

$warning100: #feeac3;
$warning300: #fcce73;
$warning500: #faad14;

$error100: #ffebeb;
$error300: #ff9999;
$error500: #ff4848;
