@import 'src/styles/colors';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  overflow: hidden;
  font-weight: 500;
  font-family: Inter, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.icon + .content {
  margin-left: 8px;
}

.buttonNormal {
  composes: button;
  height: 32px;
  font-size: 14px;
  line-height: 20px;

  .icon {
    width: 14px;
    height: 14px;
  }
}

.buttonLarge {
  composes: button;
  height: 40px;
  font-size: 16px;
  line-height: 22px;

  .icon {
    width: 16px;
    height: 16px;
  }
}

.primary {
  color: $monoWhite;
  background: $default;

  .icon {
    fill: $monoWhite;
  }

  &:hover {
    background: $hover;
  }

  &:active {
    background: $active;
  }

  &:disabled {
    color: $disabled;
    background: $background;
  }
}

.link {
  padding: 0;
  color: $default;
  background: $monoWhite;

  .icon {
    fill: $default;
  }

  &:hover {
    color: $hover;
    border-color: $hover;
  }

  &:active {
    color: $active;
    border-color: $active;

    .icon {
      fill: $active;
    }
  }

  &:disabled {
    color: $disabled;
    background: $background;
    border-color: $border;

    .icon {
      fill: $disabled;
    }
  }
}

.secondary {
  composes: link;
  padding: 0 16px;
  border: 2px solid $default;
}

.text {
  composes: link;
  padding: 0 16px;

  &:hover {
    background: $selected;
  }

  &:active {
    background: $selected;
  }
}
