@import 'src/styles/colors';

.wrapper {
  position: relative;
  display: flex;

  &[hidden] {
    display: none;
  }
}

.iconWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5px;
}

.icon {
  fill: $disabled;
}

.leftIconWrapper {
  composes: iconWrapper;
  left: 7px;
}

.rightIconWrapper {
  composes: iconWrapper;
  right: 7px;
}

.searchButton {
  position: absolute;
  right: 0;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search {
  border: 1px solid $default;
}

.input {
  width: 100%;
  color: $primary;
  font-family: Inter, sans-serif;
  background: $monoWhite;
  border: 1px solid $border;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;

  &::placeholder {
    color: $disabled;
  }

  &:hover {
    border-color: $hover;
  }

  &:focus {
    border-color: $hover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    color: $disabled;
    background: $background;
    border: 1px solid $border;
    box-shadow: unset;
  }
}

.normalInput {
  composes: input;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;

  &.withLeftIcon {
    padding-left: 30px;
  }

  &.withRightIcon {
    padding-right: 30px;
  }

  &.search {
    padding-right: 92px;
  }

  ~ .iconWrapper {
    width: 24px;
    height: 24px;
  }
}

.largeInput {
  composes: input;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 22px;

  &.withLeftIcon {
    padding-left: 32px;
  }

  &.withRightIcon {
    padding-right: 32px;
  }

  &.search {
    padding-right: 92px;
  }

  ~ .iconWrapper {
    width: 26px;
    height: 26px;
  }
}
