.wrapper {
  display: grid;
  grid-gap: 24px;
  padding-top: 32px;
  text-align: center;
}

.inputs {
  display: grid;
  grid-gap: 12px;
}

.steps {
  display: none;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 290px;
    margin: 0 auto;
  }

  .steps {
    display: flex;
    margin: auto;
    padding: 24px 0 16px;
  }
}
