@import 'src/styles/colors';

.wrapper {
  margin-bottom: 32px;
  border-bottom: 1px solid $dividers;
}

.title {
  margin-bottom: 16px;
}

.radioGroup {
  padding-bottom: 32px;
}

.radioLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
