.wrapper {
  position: relative;
  padding-top: 32px;
}

.title {
  margin-bottom: 24px;
  text-align: center;
}

.text {
  margin-bottom: 24px;
  padding-top: 24px;
  text-align: center;
}

.steps {
  display: none;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 450px;
    margin: auto;
    padding-top: 90px;
  }

  .steps {
    position: absolute;
    top: 24px;
    right: 0;
    left: 0;
    display: flex;
    margin: auto;
  }
}
