.wrapper {
  padding-top: 32px;
}

.title {
  margin-bottom: 24px;
  text-align: center;
}

.text {
  margin-bottom: 24px;
  padding-top: 24px;
  text-align: center;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 450px;
    margin: auto;
    padding-top: 90px;
  }
}
