.wrapper {
  display: flex;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tileView {
  flex-wrap: wrap;
  margin-right: -8px;
  margin-bottom: -8px;
}
