@import "src/styles/colors";

.text {
  color: $primary;
  font-size: 14px;
  line-height: 20px;
}

.textSecondary {
  composes: text;
  font-size: 12px;
  color: $secondary;
}

.textDisabled {
  composes: text;
  font-size: 12px;
  color: $disabled;
}