.enter {
  height: 0;
  opacity: 0;
}

.enterActive {
  transition: height 0.3s, opacity 0.3s 0.3s;
  height: 56px; //TODO move to dynamically count content height (refs)
  opacity: 1;
}

.exit {
  height: 56px;
  opacity: 1;
}

.exitActive {
  transition: opacity 0.3s, height 0.3s 0.3s;
  height: 0;
  opacity: 0;
}
