@import 'src/styles/colors';

.shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.options {
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-columns: 100%;
  background: $monoWhite;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
