@import 'src/styles/colors';

.footer {
  padding: 32px 15px 92px;
  background: $background;
}

.columns {
  display: grid;
  grid-gap: 32px;
}

.title {
  margin-bottom: 8px;
  color: $secondary;
}

.text {
  margin-bottom: 8px;
  color: $secondary;
}

.terms {
  display: none;
}

.icons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-content: start;
  margin-top: 24px;
}

.toggleVersion {
  margin: 24px 0 16px;
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 42px 0 76px;
  }

  .terms {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    background: $dividers;
  }

  .columns {
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    width: 930px;
  }

  .uniqueColumn {
    order: 1;
  }

  .termsList {
    display: flex;
    width: 930px;
  }

  .term {
    margin-right: 32px;

    &:last-of-type {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .termText {
    color: $disabled;
  }

  .toggleVersion {
    display: none;
  }
}
