@import 'src/styles/colors';

.right {
  margin-left: auto;
}

.weight {
  display: flex;
  margin-bottom: 32px;
}

.text {
  display: flex;
  margin-bottom: 8px;
}

.total {
  display: flex;
  margin-bottom: 32px;
  color: $title;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
