@import 'src/styles/colors';

.content {
  position: relative;
  max-height: calc(100% - 60px);
  padding-bottom: 48px;
  overflow-y: auto;
}

.radio {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $dividers;
}

.choose {
  position: fixed;
  bottom: 16px;
  width: calc(100% - 32px);
}

@media (min-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .group {
    grid-gap: 16px;
    margin-bottom: auto;
  }

  .add {
    margin: 32px 0 16px;
  }

  .radio {
    margin-bottom: 0;
  }

  .choose {
    position: static;
    width: 100%;
  }
}
