@import 'src/styles/colors';

.wrapper {
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.iconWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4px;
}

.icon {
  width: 16px;
  height: 16px;
}

.point {
  color: $title;
  font-size: 12px;
  line-height: 16px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.leftIcon {
  composes: icon;
  fill: $disabled;
}

.rightIcon {
  composes: icon;
  fill: $hover;
}

.text {
  margin-top: 8px;
  color: $primary;
  text-align: center;
}

.activeText {
  composes: text;
  color: $hover;
}

.price {
  color: $title;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .icon {
    width: 20px;
    height: 20px;
  }

  .point {
    font-size: 14px;
    line-height: 20px;
  }

  .text {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
  }
}
