@import 'src/styles/colors';

.wrapper {
  z-index: 2;
  transition: opacity 0.3s;
}

.transparent {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.button {
  display: flex;
}

.shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 112px;
  right: 0;
  left: 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 210px 1fr;
  margin: auto;
  padding: 12px calc(50% - 465px) 32px;
  background: $monoWhite;
}
