@import 'src/styles/colors';

.item {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'l r';
  grid-template-columns: 90px 1fr;
}

.imageWrapper {
  grid-area: l;
  width: 100%;
  height: fit-content;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

.right {
  grid-area: r;
}

.price {
  margin-bottom: 8px;
  color: $title;
}

.name {
  margin-bottom: 2px;
  color: $primary;
}

.amount {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8px;
}

.quantity {
  display: flex;
  align-items: center;
}

.count {
  input {
    width: 90px;
    text-align: center;
  }
}

.trash {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-left: 24px;
  fill: $disabled;
}

.singleItemPrice {
  margin-top: 8px;
  color: $secondary;
  font-size: 12px;
  line-height: 18px;
}

.deleteText {
  display: none;
  color: $default;
  cursor: pointer;
}

.outOfStock {
  display: none;
  align-items: center;
  width: fit-content;
  height: 20px;
  margin-bottom: 8px;
  padding: 0 7px;
  color: $default;
  font-size: 12px;
  line-height: 18px;
  background: $selected;
  border-radius: 10px;
}

.outOfStockMobile {
  composes: outOfStock;
}

.outOfStockPC {
  composes: outOfStock;
}

.itemOutOfStock {
  .image {
    opacity: 0.5;
  }

  .outOfStockMobile {
    display: flex;
  }

  .price {
    color: $disabled;
  }

  .name {
    color: $disabled;
  }

  .count {
    display: none;
  }

  .trash {
    margin: 0;
  }

  .singleItemPrice {
    display: none;
  }
}

@media (min-width: 1024px) {
  .item {
    grid-gap: 12px;
    grid-template-columns: 116px 1fr;
    padding: 16px 0;
    border-bottom: 1px solid $dividers;
  }

  .right {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 90px 90px;
  }

  .deleteText {
    display: flex;
  }

  .prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 1;
  }

  .name {
    font-size: 14px;
    line-height: 20px;
  }

  .trash {
    display: none;
  }

  .amount {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }

  .count {
    display: block;
  }

  .itemOutOfStock {
    .right {
      grid-template-columns: 1fr 90px;
    }

    .outOfStockMobile {
      display: none;
    }

    .amount {
      display: none;
    }

    .outOfStockPC {
      display: flex;
    }
  }
}
