@import 'src/styles/colors';

.wrapper {
  padding-top: 32px;
  text-align: center;
}

.title {
  margin-bottom: 8px;
}

.changeNumber {
  display: block;
  width: fit-content;
  margin: 0 auto 24px;
}

.code {
  display: grid !important;
  grid-gap: calc(20% - 45.6px);
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 12px;

  input {
    width: 38px;
    padding: 5px 0;
    color: $title;
    font-weight: bold;
    font-size: 20px;
    font-family: Inter, sans-serif;
    line-height: 28px;
    text-align: center;
    border: 1px solid $border;
    border-radius: 8px;
    outline: none;
  }
}

.checkbox {
  margin: 24px 0;
  letter-spacing: -0.006em;
  text-align: left;
}

.link {
  color: $default;
}

.signup {
  margin: 24px 0;
}
