@import 'src/styles/colors';

.shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.65);
}

.overlay {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.inner {
  flex-grow: 1;
  background: $monoWhite;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 24px 1fr 24px;
  align-items: center;
  padding: 16px;
  background: $monoWhite;
}

.icon {
  fill: $disabled;
}

.mobileIcon {
  composes: icon;
}

.pcIcon {
  composes: icon;
  display: none;
  grid-column: 3 / 4;
}

.main {
  max-height: calc(100% - 60px);
  padding: 16px;
  overflow: auto;
}

.footer {
  margin-top: 16px;
}

.title {
  grid-column: 2 / 3;
  text-align: center;
}

.transparent {
  .shadow {
    opacity: 0;
  }

  .inner {
    transform: scale(0.8);
    opacity: 0;
  }
}

.visible {
  .shadow {
    opacity: 1;
  }

  .inner {
    transform: scale(1);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .shadow {
    transition: opacity 0.2s;
  }

  .overlay {
    position: relative;
    z-index: -1;
    display: block;
    min-height: 100%;
    padding: 100px 0 24px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    width: 450px;
    min-height: 500px;
    margin: 0 auto;
    padding: 32px;
    border-radius: 8px;
    transition: opacity 0.2s, transform 0.2s;
  }

  .header {
    position: static;
    grid-template-columns: 32px 1fr 32px;
    margin-bottom: 48px;
    padding: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    max-height: unset;
    padding: 0;
  }

  .mobileIcon {
    display: none;
  }

  .pcIcon {
    display: block;
    cursor: pointer;
  }
}
